/db/
/incremental_db/
/output_files/
/simulation/
/timing/

/c5_pin_model_dump.txt
/*.bak
/*.cdf
/*.cmp
/*.done
/*.eqn
/*.hex
/*.html
/*.jdi
/*.jpg
/*.mif
/*.pin
/*.pof
/*.ptf.*
/*.qar
/*.qarlog
/*.qws
/*.rpt
/*.smsg
/*.sld
/*.sof
/*.sopc_builder
/*.summary
/*.txt
